<% if user_signed_in? %>
  <%= simple_form_for @content , method: :post do |f| %>
    <%= f.input :title %>
    <%= f.label :type  %>
    <%= f.select :type, Content.types%>
    <%= f.button :submit %>
  <% end %>
<% else %>
  <p><%= "Invalid activation link" %></p>
    <p><%=link_to "Join up", new_user_registration_path %></p>
<% end %>
