<h1><%= @project.title.capitalize %></h1>
<%= @project.title.capitalize %>
<%= @project.description %>
<%= cl_image_tag @project.photo %>

<%= render 'content'%>

<% if policy(Content).new? %>
    <h4>Add contents</h4>
    <%= render 'contents/form'  %>
<% end %>
