<h1><%= @project.title.capitalize %></h1>
<%= @project.title.capitalize %>
<%= @project.description %>
<%= cl_image_tag @project.photo %>


<h4> Contents </h4>
<%= render @project.contents  %>

<% if user_signed_in? %>
  <h4>Add contents</h4>
  <%= render 'contents/form'  %>
<% end %>
